[submodule "web-source"]
	path = web-source
	url = https://github.com/sokoloff06/sokoloff06.github.io
[submodule "firebase-skills"]
	path = .skills
	url = https://github.com/sokoloff06/firebase-skills
